# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output/

# Maestro
maestro-report/
.maestro/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
*.log
.cache/
